@import url("https://fonts.googleapis.com/css2?family=Lato:wgh@300;400;700");
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.panel {
  height: 100vh;
  display: grid;
  background-color: rgb(146, 176, 176);
  grid-template-columns: 300px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 
  "sidebar headerr"
  "sidebar mainn";
}

.side {
  background-color: #ffffff;
  grid-area: sidebar;
}

.header {
  background-color: #0162ea;
  grid-area: headerr;
}

.main{
  background-color: rgb(227, 227, 227);
  grid-area: mainn;
}

